body {
  background-color: #FFFFFF;
  font-family: 'Lato', sans-serif;
}

.main {
  width: 82.5%;
  margin: auto;
  padding-top: 50px;
  font-size: 11pt;
}

.full-row {
  width: 200%;
  padding: 15vh 2.5vw 2vh 2.5vw;
  font-size: 15pt;
  font-weight: 400;
  text-align: justify;
}

.full-row strong {
  font-weight: 700;
}

.feedback-full-row {
  width: 200%;
  padding: 10pt 0pt;
  font-size: 14pt;
  font-weight: 400;
  text-align: justify;
}

.feedback-full-row strong {
  font-weight: 700;
}

.captions {
  font-size: 12pt;
  font-weight: 400;
  text-align: left;
}

.captions strong {
  font-weight: 700;
}

.caption-image {
  display: inline;
  height: 14pt;
  width: 14pt;
  vertical-align: text-bottom;
}

.underline {
  text-decoration: underline;
}

.feedback {
  font-size: 12pt;
  text-align: left;
}

.feedback-score-small {
  font-size: 9pt;
  color: #666666;
}

.stimulus {
  float: right;
  width: 80%;
}

ul.no-bullets {
  list-style-type: none;
  margin-top: 0pt;
  padding-inline-start: 0pt;
  margin-bottom: 0pt;
}

ul.no-bullets-horizontal {
  list-style-type: none;
  display: flex;
  margin: 0pt;
  padding-inline-start: 0pt;
  justify-content: space-evenly;
}

ul.no-bullets-full-row {
  width: 200%;
  list-style-type: none;
}

.statement {
  font-size: 13pt;
}

.rating-scale{
  display: flex;
  margin: 7.5pt 15% 7.5pt 15%;
  justify-content: space-between;
  align-items: baseline;
}

.rating-button {
  display: inline-block;
  text-align: center;
  flex-basis: 100%;
}

.rating-button label {
  display: block;
  line-height: 1.25;
}

.rating-number {
  font-size: 11pt;
}

.rating-text {
  font-size: 9pt;
}

input[type=checkbox],
input[type=radio] {
  /* Double-sized Checkboxes */
  -ms-transform: scale(2);
  /* IE */
  -moz-transform: scale(2);
  /* FF */
  -webkit-transform: scale(2);
  /* Safari and Chrome */
  -o-transform: scale(2);
  /* Opera */
  transform: scale(2);
  /* padding: 20px; */
  margin: 10px;
}

/* Might want to wrap a span around your checkbox text */
.checkboxtext {
  /* Checkbox text */
  display: inline;
  font-size: 13pt;
}

.checkboximage {
  /* Checkbox image */
  display: inline;
  height: 20pt;
  width: 20pt;
  vertical-align: bottom;
  margin-bottom: 2pt;
}

.check-all {
  margin-left: 40px;
  background-color: #0f6bd4;
  border-radius: 6px;
  border: 1px solid #0f6bd4;
  display: inline-block;
  cursor: pointer;
  color: white;
  font-family: "Lato";
  font-size: 14px;
  padding: 4px 10px;
  text-decoration: none;
  text-shadow: 0px 1px 0px black;
  margin-right: 10px;
}

.controls {
  float: right;
  padding: 10px;
  clear: both;
}

.comprehension_question {
  font-size: 12pt;
  float: left;
  padding: 10px;
}

.section_title {
  float: right;
  font-family: "Lato";
  font-size: 20px;
  font-weight: bold
}

.button {
  background-color: #02a342;
  border-radius: 6px;
  border: 1px solid #02a342;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: "Lato";
  font-size: 14px;
  padding: 4px 10px;
  text-decoration: none;
  text-shadow: 0px 1px 0px black;
  margin-right: 10px;
}

.button:hover {
  background-color: #2cb04f;
}

.button:disabled {
  cursor: not-allowed;
  background-color: #aaaaaa;
  border: 1px solid #ffffff;
}

.button:active {
  position: relative;
  top: 1px;
}

.key-red {
  font-weight: bold;
  color: #d41159;
}

.key-blue {
  font-weight: bold;
  color: #0072b2;
}

.key-none {
  font-weight: bold;
  text-decoration: underline;
}

.modal {
  font-weight: bold;
  text-decoration: underline;
}

#ground_truth {
    margin: auto;
    justify-content: center;
    align-items: center;
    width: 300px;
    background-color: rgb(255, 255, 255);

    text-align: center;

    border-style: solid;
    border-width: 1px;
    border-color: #272727;
}

.survey {
  background-color: red;
}

.wrapper {  
    width: 750px;
    text-align: center;
    position: relative;
}

.slider_value {
  position: absolute;
  top: -35px;
  left: 0; /* Will be set by JavaScript */
  background: #333;
  color: white;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 12px;
  font-weight: bold;
  pointer-events: none;
  transition: left 0.1s ease;
  z-index: 10;
  white-space: nowrap;
}

.slider_value::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #333;
}

.slider::-webkit-slider-thumb {
  width: 25px;
  height: 25px;
  background-size: contain;
  background-repeat: no-repeat;
}

.slider {
  position: relative;
  width: 700px;
  opacity: 0.8;
  height: 25px;
}

.slider:hover {
  transform: translateY(-2px);
  transition: 0.2s;
  opacity: 1;
}

.display {
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
}

.button_timer {
  display: flex;
  justify-content: space-between;
}

.button_timer button {
  margin-left: 20px;
}

.label_nums {
  display: flex;
  justify-content: space-between;
  margin-top: -4%;
  margin-bottom: -4%;
}